InsideOpenCV/Intermediate
InsideOpenCV/Saved
InsideOpenCV/.vs
InsideOpenCV/Build
InsideOpenCV/Binaries
InsideOpenCV/DerivedDataCache
InsideOpenCV/Plugins/FastChangeLanguage/Binaries
InsideOpenCV/Plugins/FastChangeLanguage/Intermediate
InsideOpenCV/Content/__ExternalActors__
InsideOpenCV/Content/__ExternalObjects__
